
<div class="container">

<h1 class="centrar-texto">Bienvenido</h1>

<br>

    <section>
      <div class="alert alert-success" role="alert">
        <h1 class="alert-heading">NO NECESITAS REGISTRARTE!!!</h1>
          <p>Si solo quieres poder leer los articulos puedes hacerlo sin tener que crear una cuenta. Dando click aqui <%= link_to 'Wiki', {:controller => "wikis"}, {class: "alert-link" }%></p>
        <hr>
        <p class="mb-0">-Equipo de Desarrollo</p>
      </div>

    </section>
    <section class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Mas sobre nosotros</h2>
        
        <div class="iconos-nosotros">
            <div class="icono">
               
                <h3 class="encabezado">Quienes somos</h3>
                <p class="text-muted">Somos un grupo de estudiantes de la Facultad de Ingeniería Mecánica y Eléctrica, con una idea de innovar la enseñanza para los alumnos de cualquier nivel, donde estudiantes como nosotros se veían afectados en su forma de estudio de alguna asignatura, creando así Learneen, para mejorar la experiencia de aprendizaje en cada usuario.</p>
            </div>

            <div class="icono">
               
                <h3 class="encabezado">Objetivo</h3>
                <p class="text-muted">El principal objetivo de este sitio web es implementar nuevas tecnologías que contribuyan al mejoramiento del entorno social, enriqueciendo de conocimiento a los estudiantes y/o cualquier persona con dificultad de aprendizaje.</p>
            </div>

        </div>


       

    </section>
        
    <main class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Capacitaciones</h3>
        
        <div class="contenedor-anuncios">
            <div class="anuncio">
                
                <div class="contenido-anuncio">
                    <h4>Capacitacion en android</h4>
                    <p>Escrita el: 20/08/2019 por: Admin</p>
                    <p>En esta capacitacion se busca que puedas aprender el como crear una aplicacion desde 0 </p>
               
                   <%= link_to 'Nuevo post', {:controller => "wikis"}, {class: 'btn btn-info btn-lg btn-block'} %>
                </div>
            </div>

            <div class="anuncio">
              
                <div class="contenido-anuncio">
                    <h4>Capacitacion en Java</h4>
                    <p>Escrita el: 20/08/2019 por: Admin</p>
                    <p>En esta capacitacion se busca que puedas aprender el como crear una aplicacion desde 0 </p>
                    <%= link_to 'Nuevo post', {:controller => "wikis"}, {class: 'btn btn-info btn-lg btn-block'} %>
                </div>
            </div>
        </div>
        
        
    </main>

  
   
        <section class="testimoniales">
            <h3 class="fw-300 centrar-texto">Testimoniales</h3>
            <div class="testimonial">  
                <blockquote>
                   Tus talentos y habilidades iran mejorando con el tiempo, pero para eso has de empezar 
                                   </blockquote>
                <p>- Martin Luther King</p>
            </div>
        </section>
    </div>


</div>


